<!DOCTYPE html>
<html>
  <head>
    <title>Short Your URL</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Short Url</title>
  </head>
  <body>
    <h3>List Your Url</h3>
    <table class="table">
      <thead>
        <tr>
          <th> No. </th>
          <th> Url </th>
          <th> Short Url </th>
          <th> Count </th>
        </tr>
      </thead>
      <tbody>
        <% urls.forEach(function(url){ %>
        <tr>
          <td><%= url.id %></td>
          <td><%= url.url %></td>
          <td><a href="/url/search/<%=url.shortUrl%>"><%= url.shortUrl %></a></td>
          <td><%= url.count %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/url/addurl"><button type="button" name="button">add url</button></a>
  </body>
</html>
