<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <title>URL Shortening</title>
</head>

<body>
  <div class="center-align">
    <h1>Shorten Your Url</h1>
    <div class="row">
      <form class="col s12" action="/urls" method="post">
        <div class="row">
          <div class="col s4">
          </div>
          <div class="col s4">
            <input placeholder="Url" , id="Url" type="text" class="validate" name="Url">
            <label for="Url"></label>
          </div>
          <div class="col s4">
          </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Shortening</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col s1">
    </div>
    <div class="col s10">
      <table class="striped">
        <thead>
          <tr>
            <th>Url</th>
            <th>Shortened Url</th>
            <th>Visited</th>
          </tr>
        </thead>

        <tbody>
          <%
          data.forEach((d) => {
            %>
            <tr>
              <td>
                <a href="<%= d.long_url %>" target="_blank" onclick="location.reload()">
                  <%= d.long_url %>
                </a>
              </td>
              <td>
                <a href="/users/<%= d.id%>" target="_blank" onclick="location.reload()">
                  <%= d.short_url %>
                </a>
              </td>
              <td>
                <%= d.count %>
              </td>
            </tr>
            <%
          })
          %>
        </tbody>
      </table>
    </div>
    <div class="col s1">
    </div>
  </div>
</body>

</html>